/* reset */
html,body {width: 100%;height: 100%;margin: 0;padding: 0;}
a {text-decoration: none;}
ul {margin: 0;padding: 0;}
li {list-style: none;}
input, textarea, a {outline:none;}
body,textarea,select,input,pre{font-family:arial,microsoft yahei,helvetica,sans-serif;font-size:16px;color:#555;}
div {margin:0;padding:0}

/* header && footer */
.container {
	width: 100%;
	min-height: 100%;
	position: relative;
}
.ct {
	width: 1128px;
	margin: 0 auto;
}
.header {
	width: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: #f18e6a;

}
.nav {
	width: 100%;
	position: fixed;
	z-index: 99999;
	top: 130px;
	left: 0;
	background: #fff;
}

.content {
	padding-bottom: 160px;
	padding-top: 30px;
}

.footer {
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f18e6a;
	color: #fff;
	font-size: 14px;
}
:root .footer {
	background-image: url(../img/f_bg.png);
}

/* header */
.h-top {
	height: 30px;
	line-height: 30px;
	background-color: #a75638;
}
.h-link-list {
	display: inline-block;
}
.h-link-list a {
	color: #fff;
	margin-right: 15px;
	font-size: 14px;
}
.h-search {
	float: right;
	color: #333;
	position: relative;
}
.h-s-inp {
	width: 120px;
	height: 20px;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 0 25px 0 5px;
	font-size: 14px;
}
.h-search i {
	position: absolute;
	top: -1px;
	right: 0;
	font-size: 24px;
}
.h-list {
	height: 100px;
	position: relative;
}
.h-logo img{
	height: 70px;
	margin-top: 15px;
}


/* nav */
.n-l-wrap {
	width: 100%;
	display: -webkit-flex;
	display: flex;
}
.n-l-item {
	float: left;
	width: 9.9%;/*for IE9-*/
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-flex: 1;
	flex: 1;
	cursor: pointer;
	position: relative;
}
.n-li-n {
	display: block;
	color: #333;
}
.n-li-n:hover {
	background: #a75638;
	color: #fff;
}
.n-li-n2 {
	display: block;
	color: #fff;
}
.n-li-n2:hover {
	background: #a75638;
}
.n-l-item:hover .n-li-b {
	display: block;
}
.n-li-b {
	position: absolute;
	left: 0;
	width: 100%;
	display: none;
	
}
.n-li-b-item {
	background: #f18e6a;
}

/* footer */

.f-banner {
	width: 100%;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	background: #a75638;
	text-align: center;
	font-size: 12px;
}
.f-banner img {
	height: 12px;
	vertical-align: text-top;
}
.f-list {
	height: 100px;
	padding: 10px 0;
}
.f-l-1 {
	width: 12%;
	height: 100%;
	float: left;
	border-right: 1px solid #333;
}
.f-l-1 img{
	height: 100px;
}
.f-l-2 {
	width: 30%;
	height: 100%;
	float: left;
	text-align: left;
	border-right: 1px solid #333;
}
.f-l-2 a {
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
	color: #fff;
	line-height: 34px;
}
.f-l-3 {
	width: 27%;
	height: 100%;
	float: left;
	text-align: center;
	border-right: 1px solid #333;
}
.f-l-3 img {
	width: 40px;
	border-radius: 50%;
	margin-top: 20px;
}
.f3-link-list li{
	display: inline-block;
	margin: 0 15px;
}
.f-l-4 {
	height: 100%;
	overflow: auto;
	text-align: left;
	padding: 5px 10px 0 10px;
}
.f-l-4 p {
	margin: 0;
	padding: 0;
	line-height: 30px;
}


/* util */


